<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer_script">
    <script th:src="@{/assets/js/amazeui.min.js}" src="../../static/assets/js/amazeui.min.js"></script>
    <script th:src="@{/assets/js/amazeui.datatables.min.js}" src="../../static/assets/js/amazeui.datatables.min.js"></script>
    <script th:src="@{/assets/js/dataTables.responsive.min.js}" src="../../static/assets/js/dataTables.responsive.min.js"></script>
    <script th:src="@{/assets/js/app.js}" src="../../static/assets/js/app.js"></script>
</div>
</html>