<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <script th:src="@{/assets/js/echarts.min.js}" src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" href="../../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.datatables.min.css}" href="../../static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../../static/assets/css/app.css">
    <script th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
    <script th:src="@{/assets/js/jquery.twbsPagination.min.js}" src="../../static/assets/js/jquery.twbsPagination.min.js"></script>
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/i/app-icon72x72@2x.png}" href="../../static/assets/i/app-icon72x72@2x.png">
</head>