<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单编辑</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>

</head>

<body data-type="widgets">
    <script th:src = "@{/assets/js/theme.js}" src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="common/topbar :: topbar"></div>
        <!-- 风格切换 -->
        <div th:replace="common/skin-selecter :: skin-selecter"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="common/left_sidebar :: left-sidebar"></div>
        <script>
            $("#order_a").addClass("active");
        </script>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 编辑订单 <small>Amaze UI</small></div>
                        <p class="page-header-description">您可以在此编辑订单信息。</p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">

                <form action="/order/new" id="editForm" class="am-form tpl-form-line-form" method="post">

                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">订单信息</div>
                            </div>
                            <div class="widget-body am-fr">

                                    <div class="am-form-group" th:if="${order.id} != null">
                                        <label class="am-u-sm-3 am-form-label">订单号 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${order.id}" name="id" id="id" class="tpl-form-input tpl-form-no-bg" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">客户 </label>
                                        <div class="am-u-sm-9">
                                            <select id="customer-select" name="customer.id" data-am-selected="{searchBox: 1}" style="display: none;">
                                                <option value=""></option>
                                                <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
                                            </select>
                                            <script th:if="${order.customer} != null">
                                                $("#customer-select").val([[${order.customer.id}]]);
                                            </script>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">费用 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${order.price}" name="price">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">截止时间 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="ddl" th:value="${order.ddl}" class="am-form-field tpl-form-no-bg" placeholder="截止时间" data-am-datepicker="" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group" th:if="${order.createTime} != null">
                                        <label class="am-u-sm-3 am-form-label">创建时间 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${order.createTime}" class="am-form-field tpl-form-no-bg" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group" th:if="${order.creator} != null">
                                        <label class="am-u-sm-3 am-form-label">创建者 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${order.creator.name}" class="am-form-field tpl-form-no-bg" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group" th:if="${order.state} != null">
                                        <label class="am-u-sm-3 am-form-label">状态 </label>
                                        <div class="am-u-sm-9">
                                            <select id="state-select" name="state.id" data-am-selected="{searchBox: 1}" style="display: none;">
                                                <option value=""></option>
                                                <option th:each="state:${states}" th:value="${state.id}" th:text="${state.name}"></option>
                                            </select>
                                            <script th:if="${order.state} != null">
                                                $("#state-select").val([[${order.state.id}]]);
                                            </script>
                                        </div>
                                    </div>

                                    <div class="am-form-group"  th:if="${order.processTime} != null">
                                        <label class="am-u-sm-3 am-form-label">处理时间 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${order.processTime}" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">备注 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="comments" th:value="${order.comments}">
                                        </div>
                                    </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">员工 </label>
                                    <div class="am-u-sm-9"></div>
                                    <div class="am-u-sm-3"></div>
                                    <div class="am-u-sm-12 am-u-md-4">
                                        <select multiple style="height: 150px;" id="orderStaff" name="staffIds">
                                            <option th:each="staff:${order.staffs}" th:value="${staff?.id}" th:text="${staff?.name}"></option>
                                        </select>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-1" style="text-align: center" >
                                        <a class="am-btn" onclick="moveAll('allStaff','orderStaff')"><<</a>
                                        <br>
                                        <a class="am-btn" onclick="moveSelected('allStaff','orderStaff')"><</a>
                                        <br>
                                        <a class="am-btn" onclick="moveSelected('orderStaff','allStaff')">></a>
                                        <br>
                                        <a class="am-btn" onclick="moveAll('orderStaff','allStaff')">>></a>
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-4">
                                        <select multiple style="height: 150px;" id="allStaff">
                                            <option th:each="sta:${staffs}" th:value="${sta.id}" th:text="${sta.name}"></option>
                                        </select>
                                    </div>
                                    <script>
                                        function moveSelected(src, desc) {
                                            $("#" + src + " option:selected").appendTo($("#" + desc));
                                        }
                                        function moveAll(src,desc) {
                                            $("#" + src + " option").appendTo($("#" + desc));
                                        }
                                        $(function () {
                                            //获取右边框中option的value,存到数组中
                                            var ids = [];
                                            $.each($("#orderStaff option"), function (index,option) {
                                                ids.push(option.value);
                                                console.log("ids:"+ ids);
                                            })
                                        })

                                        $(function () {
                                            //排重
                                            var ids = $.map($("#orderStaff option"), function (item) {
                                                return item.value;
                                            })
                                            //遍历左边框中的所有option,判断其value值是否在上面的数组中
                                            //在,则删除
                                            $.each($("#allStaff option"), function (index, item) {
                                                if ($.inArray(item.value, ids) >= 0) {
                                                    $(item).remove();
                                                }
                                            })
                                            $("#submitBtn").click(function () {
                                                $("#orderStaff option").prop("selected", true);
                                                // $("#staffs-hidden").val($("#admin-checkbox").prop('checked'));
                                                $("#editForm").submit();
                                            })
                                        })


                                    </script>
                                </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button id="submitBtn" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row" th:if="${order.id != null}">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="widget am-cf">
                                <div class="widget-head am-cf">
                                    <div class="widget-title am-fl">使用物料</div>
                                </div>
                                <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                                    <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>申请编号</th>
                                            <th>库存编号</th>
                                            <th>物料</th>
                                            <th>存放仓库</th>
                                            <th>申请数量</th>
                                            <th>申请人</th>
                                            <th>状态</th>
                                        </tr>
                                        </thead>
                                        <tbody id="order_stock_used_table_body">
                                        <tr th:each="osu,osuStat:${orderStockUsedPageResult.list}">
                                            <td th:text="${osuStat.count}"></td>
                                            <td th:text="${osu.id}"></td>
                                            <td th:text="${osu.stock.id}"></td>
                                            <td th:text="${osu.stock.material.name}"></td>
                                            <td th:text="${osu.stock.warehouse.name}"></td>
                                            <td th:text="${osu.quantity}"></td>
                                            <td th:text="${osu.employee.name}"></td>
                                            <td th:text="${osu.state.name}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <ul class="am-pagination am-pagination-centered" id="order_stock_used_pagination"></ul>
                                    <form action="#" method="post">
                                        <input type="hidden" name="pageNum" id="osu_pageNum" th:value="${orderStockUsedPageResult.pageNum}">
                                        <input type="hidden" name="pages" id="osu_pages" th:value="${orderStockUsedPageResult.pages}">
                                        <input type="hidden" name="orderId" th:value="${order.id}">
                                    </form>
                                    <script th:src="@{/assets/js/ajax/order.used.stock.ajax.js}" ></script>
                                </div>

                            </div>
                        </div>
                    </div>
                <div class="row" th:if="${order.id != null}">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">订单状态变动</div>
                                <div class="widget-title am-fr" id="resultTotal">共有[[${pageResult.total}]]条记录&nbsp;&nbsp;</div>
                            </div>
                            <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black" id="example-r">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>订单号</th>
                                        <th>状态</th>
                                        <th>发生时间</th>
                                        <th>操作人</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_body">
                                    <tr th:each="osc,oscStat:${pageResult.list}">
                                        <td th:text="${oscStat.count}"></td>
                                        <td th:text="${osc.orderId}"></td>
                                        <td th:text="${osc.state}"></td>
                                        <td th:text="${osc.occurrenceTime}"></td>
                                        <td th:text="${osc.operator}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="am-pagination am-pagination-centered" id="pagination"></ul>
                                <form action="#" method="post">
                                    <input type="hidden" name="pageNum" id="pageNum" th:value="${pageResult.pageNum}">
                                    <input type="hidden" name="pages" id="pages" th:value="${pageResult.pages}">
                                    <input type="hidden" name="orderId" th:value="${order.id}">
                                </form>
                                <script th:src="@{/assets/js/ajax/orderState.ajax.js}" ></script>
                            </div>

                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div th:replace="common/footer :: footer_script"></div>

</body>

</html>