<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>
</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}" src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="common/topbar :: topbar"></div>
    <!-- 风格切换 -->
    <div th:replace="common/skin-selecter :: skin-selecter"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="common/left_sidebar :: left-sidebar"></div>
    <!-- 内容区域 -->
    <script>
        $("#order_a").addClass("active");
    </script>
    <div class="tpl-content-wrapper">
        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 订单管理 <small>Amaze UI</small></div>
                    <p class="page-header-description">你可以在此处对订单进行管理。</p>
                </div>
            </div>

        </div>
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf tpl-form-border-form tpl-form-border-br">
                        <form action="#" method="post">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">条件查询</div>
                                <div class="am-fr">
                                    <input type="text" id="pageSize" size=1 name="pageSize" value="15" th:value="${pageResult.pageSize}"/>
                                </div>
                                <div class="am-form-label am-fr">每页记录数：</div>
                            </div>
                            <div class="widget-body am-fr am-form-inline">
                                <input type="hidden" name="pageNum" id="pageNum" value="1" th:value="${pageResult.pageNum}"/>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <input type="text" id="keyword" style="height: 37.19px;width: 200px;" name="keyword" placeholder="备注"/>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <select id="customer-select" data-am-selected="{searchBox: 1}" name="customerId" style="display: none;">
                                            <option value="-1">所有客户</option>
                                            <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <select id="creator-select" data-am-selected="{searchBox: 1}" name="creatorId" style="display: none;">
                                            <option value="-1">所有创建者</option>
                                            <option th:each="creator:${creators}" th:value="${creator.id}" th:text="${creator.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <select name="state" id="state-select" data-am-selected="{searchBox: 1}" style="display: none;">
                                            <option value="-1">所有状态</option>
                                            <option th:each="state:${states}" th:value="${state.id}" th:text="${state.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-icon-search" id="search"></button>
                                        &nbsp;&nbsp;
                                        <button type="reset" class="am-btn am-btn-primary tpl-btn-bg-color-success am-icon-refresh" id="clear"></button>
                                    </div>
                                    <!--  ajax脚本  -->
                                    <script th:src="@{/assets/js/ajax/order.ajax.js}" src="../../static/assets/js/ajax/order.ajax.js"></script>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">订单列表</div>
                            <div class="widget-title am-fr" id="resultTotal">共有[[${pageResult.total}]]条记录&nbsp;&nbsp;</div>
                        </div>
                        <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                            <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black" id="example-r">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>订单号</th>
                                    <th>客户名称</th>
                                    <th>费用</th>
                                    <th>截止时间</th>
                                    <th>创建时间</th>
                                    <th>创建者</th>
                                    <th>订单状态</th>
                                    <th>处理时间</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="table_body">
                                <tr th:each="order,orderStat:${pageResult.list}">
                                    <td th:text="${orderStat.count}"></td>
                                    <td th:text="${order.id}"></td>
                                    <td th:text="${order.customer.name}"></td>

                                    <td th:text="${order.price}"></td>

                                    <td th:text="${order.ddl}"></td>
                                    <td th:text="${order.createTime}"></td>
                                    <td th:text="${order.creator.name}"></td>

                                    <td th:text="${order.state.name}"></td>

                                    <td th:text="${order.processTime}"></td>
                                    <td th:text="${order.comments}"></td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a th:href="@{|/order/${order.id}|}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a th:href="@{|/order/delete/${order.id}|}" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 分页 -->
            <div th:replace="common/pagination :: pagination"></div>
    </div>
</div>
</div>
<div th:replace="common/footer :: footer_script"></div>

</body>

</html>