<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工编辑</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>

</head>

<body data-type="widgets">
    <script th:src = "@{/assets/js/theme.js}" src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="common/topbar :: topbar"></div>
        <!-- 风格切换 -->
        <div th:replace="common/skin-selecter :: skin-selecter"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="common/left_sidebar :: left-sidebar"></div>
        <script>
            $("#employee_a").addClass("active");
        </script>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 编辑个人信息 <small>Amaze UI</small></div>
                        <p class="page-header-description">您可以在此编辑个人信息。</p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">员工信息</div>
                            </div>
                            <div class="widget-body am-fr">

                                <form action="/employee/edit" id="editForm" class="am-form tpl-form-line-form" method="post">
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">员工号 </label>
                                        <div class="am-u-sm-9">
                                            <input  type="text" name="id" th:value="${employee.id}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">姓名 </label>
                                        <div class="am-u-sm-9" th:text="${employee.name}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">出生日期 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" th:value="${employee.birthday}" name="birthday" class="am-form-field tpl-form-no-bg" placeholder="出生日期" data-am-datepicker="" readonly="">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">性别 </label>
                                        <div class="am-u-sm-9" th:text="${employee.gender.name}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">联系方式 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="phone" th:value="${employee.phone}" placeholder="输入联系方式">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">电子邮箱 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="email" th:value="${employee.email}" placeholder="输入电子邮箱">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">密码 </label>
                                        <div class="am-u-sm-9">
                                            <input type="password" name="password" th:value="${employee.password}" placeholder="输入密码">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">住址 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="address" th:value="${employee.address}" placeholder="输入住址">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">部门 </label>
                                        <div class="am-u-sm-9" th:text="${employee.department?.name}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">入职时间 </label>
                                        <div class="am-u-sm-9" th:text="${employee.hireDate}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">状态 </label>
                                        <div class="am-u-sm-9" th:if="${employee.employeeState.name}">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">角色 </label>
                                        <div class="am-u-sm-9">
                                            <select multiple style="height: 150px;">
                                                <option th:each="role:${employee.roleList}" th:text="${role?.name}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button id="submitBtn" type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    </div>
    <div th:replace="common/footer :: footer_script"></div>

</body>

</html>