<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>

</head>

<body data-type="index">
    <script th:src = "@{/assets/js/theme.js}" src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <div th:replace="common/topbar :: topbar"></div>
        <!-- 风格切换 -->
        <div th:replace="common/skin-selecter :: skin-selecter"></div>
        <!-- 侧边导航栏 -->
        <div th:replace="common/left_sidebar :: left-sidebar"></div>
        <script>
            $("#index_a").addClass("active");
        </script>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 首页 </div>
                        <p class="page-header-description">欢迎使用本系统，以下是一些概况信息。</p>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">月度财务收支计划</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        ￥61746.45
                                        <button class="widget-fluctuation-tpl-btn">
                        <i class="am-icon-calendar"></i>
                        更多月份
                      </button>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        +￥30420.56

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        8月份收入
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                本月进行中订单数
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value" th:text="${incompleteOrders.total}">
                                </div>
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                                本月完成订单数
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value" th:text="${completedOrders.total}">
                                </div>
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row am-cf">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">

                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">未完成订单列表</div>
                            </div>
                            <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black" id="example-r">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>订单号</th>
                                        <th>客户名称</th>
                                        <th>截止时间</th>
                                        <th>创建时间</th>
                                        <th>创建者</th>
                                        <th>订单状态</th>
                                        <th>处理时间</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="incompleteOrders_table_body">
                                    <tr th:each="order,orderStat:${incompleteOrders.list}">
                                        <td th:text="${orderStat.count}"></td>
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${order.customer.name}"></td>

                                        <td th:text="${order.ddl}"></td>
                                        <td th:text="${order.createTime}"></td>
                                        <td th:text="${order.creator.name}"></td>

                                        <td th:text="${order.state.name}"></td>

                                        <td th:text="${order.processTime}"></td>
                                        <td th:text="${order.comments}"></td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:href="@{|/material/application/apply/${order.id}|}">
                                                    <i class="am-icon-upload"></i> 申请物料
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
<!--                                    <ul class="am-pagination tpl-pagination" id="incompleteOrders_Pagination"></ul>-->
<!--                                    <input type="hidden" id="incompleteOrders_pages" th:value="${incompleteOrders.pages}"/>-->
<!--                                    <input type="hidden" id="incompleteOrders_pageNum" th:value="${incompleteOrders.pageNum}"/>-->
<!--                                    <script th:src="@{/assets/js/ajax/index.ajax.js}" src="../static/assets/js/ajax/index.ajax.js"></script>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="common/footer :: footer_script"></div>

</body>

</html>