<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物料类型管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>
</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}" src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="common/topbar :: topbar"></div>
    <!-- 风格切换 -->
    <div th:replace="common/skin-selecter :: skin-selecter"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="common/left_sidebar :: left-sidebar"></div>
    <script>
        $("#material_application_list_a").addClass("active");
    </script>
    <!-- 弹出窗口 -->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="comments-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">输入备注（可以留空）</div>
            <div class="am-modal-bd" id="prompt-content">
                <input type="text" class="am-modal-prompt-input" id="prompt-input">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            </div>
        </div>
    </div>
    <script>
        function onOperationClick(mode, id) {
            if (mode == true) {
                $("#comments-prompt").modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        var object = {
                            id : id,
                            comments : e.data
                        }
                        $.post("/material/application/pass", object, function (result) {
                            $("#table_body tr").remove("#tr-" + id);
                            $("#prompt-input").val('');
                        })
                    },
                    onCancel: function (e) { }
                });
            }
            else if(mode == false) {
                $("#comments-prompt").modal({
                    relatedTarget: this,
                    onConfirm: function (e) {
                        var object = {
                            id : id,
                            comments : e.data
                        }
                        $.post("/material/application/refuse", object, function (result) {
                            $("#table_body tr").remove("#tr-" + id);
                            $("#prompt-input").val('');
                        })
                    },
                    onCancel: function (e) { }
                });
            }

        };
    </script>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 物料申请管理 <small>Department</small></div>
                    <p class="page-header-description">你可以在此处对物料申请记录进行管理。</p>
                </div>
            </div>
        </div>
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">物料申请列表</div>
                            <div class="widget-title am-fr">
                                <a href="javascript:refresh();" class="am-icon-refresh"></a>
                            </div>
                            <script>
                                function refresh() {

                                }
                            </script>
                        </div>
                        <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                            <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black" id="example-r">
                                <thead>
                                <tr>
                                    <th>申请编号</th>
                                    <th>订单编号</th>
                                    <th>订单客户</th>
                                    <th>申请人</th>
                                    <th>库存编号</th>
                                    <th>物料名称</th>
                                    <th>物料类型</th>
                                    <th>仓库</th>
                                    <th>区域</th>
                                    <th>拟申请数量</th>
                                    <th>状态</th>
                                    <th>申请时间</th>
                                    <th>操作员</th>
                                    <th>操作时间</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="table_body">
                                <tr th:each="ma,maStat:${pageResult.list}" th:id="'tr-' + ${ma.id}">
                                    <td th:text="${ma.id}"></td>
                                    <td th:text="${ma.order.id}"></td>
                                    <td th:text="${ma.order.customer.name}"></td>
                                    <td th:text="${ma.employee.name}"></td>
                                    <td th:text="${ma.stock.id}"></td>
                                    <td th:text="${ma.stock.material.name}"></td>
                                    <td th:text="${ma.stock.material.type.name}"></td>
                                    <td th:text="${ma.stock.warehouse.name}"></td>
                                    <td th:text="${ma.stock.area}"></td>
                                    <td th:text="${ma.quantity}"></td>
                                    <td th:text="${ma.state.name}"></td>
                                    <td th:text="${ma.applicationTime}"></td>
                                    <td th:text="${ma.operator.name}"></td>
                                    <td th:text="${ma.operationTime}"></td>
                                    <td th:text="${ma.comments}"></td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a th:onclick="'javascript:onOperationClick(true,' + ${ma.id} + ')'">
                                                <i class="am-icon-check">  通过</i>
                                            </a>
                                            <a th:onclick="'javascript:onOperationClick(false,' + ${ma.id} + ')'" class="tpl-table-black-operation-del">
                                                <i class="am-icon-remove"></i> 拒绝
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<div th:replace="common/footer :: footer_script"></div>

</body>

</html>