<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>物料类型管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <div th:replace="common/header :: header"></div>
</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}" src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="common/topbar :: topbar"></div>
    <!-- 风格切换 -->
    <div th:replace="common/skin-selecter :: skin-selecter"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="common/left_sidebar :: left-sidebar"></div>
    <script>
        $("#material_a").addClass("active");
    </script>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 物料申请管理 <small>Department</small></div>
                    <p class="page-header-description">你可以在此处对物料申请记录进行管理。</p>
                </div>
            </div>
        </div>
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">物料申请列表</div>
                            <div class="widget-title am-fr">共有[[${pageResult.total}]]条记录&nbsp;&nbsp;</div>
                        </div>
                        <div class="widget-body widget-body-lg am-fr am-scrollable-horizontal">
                            <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black" id="example-r">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>物料编号</th>
                                    <th>物料名称</th>
                                    <th>物料类型</th>
                                    <th>参数</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="table_body">
                                <tr th:each="material,materialStat:${pageResult.list}">
                                    <td th:text="${materialStat.count}"></td>
                                    <td th:text="${material.id}"></td>
                                    <td th:text="${material.name}"></td>
                                    <td th:text="${material.type.name}"></td>
                                    <td th:text="${material.parameter}"></td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a th:href="@{|/material/${material.id}|}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a th:href="@{|/material/delete/${material.id}|}" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 分页 -->
            <div th:replace="common/pagination :: pagination"></div>
    </div>
</div>
</div>
<script th:src="@{/assets/js/amazeui.min.js}" src="../../static/assets/js/amazeui.min.js"></script>
<script th:src="@{/assets/js/amazeui.datatables.min.js}" src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script th:src="@{/assets/js/dataTables.responsive.min.js}" src="../../static/assets/js/dataTables.responsive.min.js"></script>
<script th:src="@{/assets/js/app.js}" src="../../static/assets/js/app.js"></script>

</body>

</html>