<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kakusei.fams.mapper.ICustomerMapper">
    <select id="queryAll" resultType="xyz.kakusei.fams.entity.Customer">
        SELECT id, name, contact, comments FROM customers
    </select>
    <select id="queryById" resultType="xyz.kakusei.fams.entity.Customer" parameterType="java.lang.Integer">
        SELECT id, name, contact, comments FROM customers WHERE id = #{id}
    </select>
    <select id="queryByCriteria" resultType="xyz.kakusei.fams.entity.Customer" parameterType="xyz.kakusei.fams.query.GeneralQueryObject">
        SELECT id, name, contact, comments FROM customers
        <where>
            1 = 1
            <if test="keyword != null and keyword != ''">
                AND (contact LIKE CONCAT('%',#{keyword},'%') OR comments LIKE CONCAT('%',#{keyword},'%' OR name LIKE CONCAT('%',#{name},'%'))
            </if>
        </where>
    </select>
    <update id="update" parameterType="xyz.kakusei.fams.entity.Customer">
        UPDATE customers SET name = #{name}, contact = #{contact}, comments = #{comments} WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM customers WHERE id = #{id}
    </delete>
    <insert id="insert" parameterType="xyz.kakusei.fams.entity.Customer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO customers(name, contact, comments) VALUES(#{name}, #{contact}, #{comments})
    </insert>
</mapper>