<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kakusei.fams.mapper.IEmployeeStateMapper">
    <select id="queryAll" resultType="xyz.kakusei.fams.entity.EmployeeState">
        SELECT id, name FROM employee_states;
    </select>

    <select id="queryById" parameterType="java.lang.Byte" resultType="xyz.kakusei.fams.entity.EmployeeState">
        SELECT id, name FROM employee_states WHERE id = #{id};
    </select>

    <insert id="insert" parameterType="xyz.kakusei.fams.entity.EmployeeState" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO employee_states(name) VALUES(#{name});
    </insert>

    <delete id="deleteById" parameterType="java.lang.Byte">
        DELETE FROM employee_states WHRER id = #{id};
    </delete>

    <update id="update" parameterType="xyz.kakusei.fams.entity.EmployeeState">
        UPDATE employee_states SET name = #{name} WHRER id = #{id};
    </update>
</mapper>