<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kakusei.fams.mapper.IMaterialApplicationStateMapper">
    <select id="queryAll" resultType="xyz.kakusei.fams.entity.State">
        SELECT id, name FROM material_application_states
    </select>
    <select id="queryById" parameterType="java.lang.Byte" resultType="xyz.kakusei.fams.entity.State">
        SELECT id, name FROM material_application_states WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="xyz.kakusei.fams.entity.State" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO material_application_states(name) VALUES(#{name})
    </insert>
    <update id="update" parameterType="xyz.kakusei.fams.entity.State">
        UPDATE material_application_states SET name = #{name} WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Byte">
        DELETE FROM material_application_states WHERE id = #{id}
    </delete>
</mapper>