<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kakusei.fams.mapper.IWarehouseMapper">
    <select id="queryAll" resultType="xyz.kakusei.fams.entity.Warehouse">
        SELECT id, name, position, comments FROM warehouses;
    </select>

    <select id="queryById" resultType="xyz.kakusei.fams.entity.Warehouse">
        SELECT id, name, position, comments FROM warehouses WHERE id = #{id};
    </select>

    <insert id="insert" parameterType="xyz.kakusei.fams.entity.Warehouse" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO warehouses(name, position, comments) VALUES(#{name}, #{position}, #{comments});
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM warehouses WHRER id = #{id};
    </delete>

    <update id="update" parameterType="xyz.kakusei.fams.entity.Warehouse">
        UPDATE warehouses SET name = #{name}, position = #{position}, comments = #{comments} WHRER id = #{id};
    </update>
</mapper>